* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* siempre poner esto al principio de los css */

header {
  text-align: center;
  background-color: rgb(242, 235, 224);
  padding-top: 40px;
  padding-bottom: 40px;
}

h1 {
  font-family: poppins;
  font-size: 10vh;
  font-weight: bold;
  color: rgb(35, 109, 138);
}

h2 {
  font-family: poppins;
  font-weight: 300;
}

#contenedor {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 30vh;
}

.elemento {
  width: 18%;
  height: 20vh;
  background-color: rgb(35, 109, 138);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  border-radius: 20px;
}

a {
  color: rgb(242, 235, 224);
  font-family: poppins;
  text-decoration: none;
}
